.css-13cymwt-control{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    border-top-left-radius: 6px !important;
    border-color: #797D86 !important;
  }